#carousel {
  position: absolute;
  top: 48rem;
  width: 620px;
  border-radius: 10px;
  /* background-color: aqua; */
  margin: 0 28%;
  box-sizing: border-box;
  height: 200px;
}

@media only screen and (max-width: 620px) {
  #carousel{
    width: 335px;
  }
}

#carousel > h2 {
  text-align: center;
  margin: 2%;
  color: #ffcaca;
}

.carousel-grid {
  display: flex !important;
  /* justify-content: center; */
  gap: 10px;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}

#carousel > i {
  color: #ffffff;
  z-index: 999;
  position: absolute;
  top: 200px;
  font-size: 1.6rem;
  border-radius: 50%;
  text-shadow: 2px 1px 5px #ffffff;
  width: 22px;
  text-align: center;
  cursor: pointer;
}
.fa-angle-right {
  right: -10px;
}
.fa-angle-left {
  left: -10px;
}

.carousel-info {
  background-color: #ffcaca;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  border-radius: 20px;
}

.carousel-data {
  background-color: #372948;
  width: 100%;
  height: 130%;
  
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
}

.carousel-data-description {
  background-color: #ffcaca;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 5%;
  position: absolute;
}

.carousel-data > img {
  position: absolute;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  border: 3px solid #372948;
  margin: 0 25%;
  top: 30px;
}

@media only screen and (max-width: 320px) {
  .carousel-data > img {
    margin-left: 40px;
  }
}

.carousel-data-description > h3 {
  font-size: 12px;
  font-weight: 900;
  color: #191919;
}

.carousel-data-description > p {
  font-size: 10px;
  font-weight: 700;
  opacity: 0.8;
  color: #191919;
}

.dots-div {
  position: relative;
  margin-top: 3rem;
  padding: 2rem;
}

/* .dots {
  margin-top: -3rem;
} */

.dots:hover{
  color: #ffcaca;
}

.dots:active{
  color: #ffffff;
}